@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles;


/* App */

.App-root {
  color: white;
  text-align: center;
  background-color: #0c0e23;
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 50vh;
}

.App-logo {
  width: 10vmin;
  height: 10vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-header-text {
  margin-left: 1vw;
}

.App-link {
  color: #61dafb;
}

/* App-content */
.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.App-content-result {
}

.App-content-userinfo {
  margin-top: 20px;
}

.App-content-userinfo-error {
  color: red;
}

.App-content-header {
  color: white;
  font-size: calc(15px + 2vmin);
}

.App-content-description {
  color: white;
  font-size: calc(12px);
  margin-bottom: 30px;
}

.App-content-userinfo-textfield {
  margin-bottom: 30px;
  min-width: calc(250px + 20vw);
}

/* StakingResult */
.StakingResult-root {
}

.StakingResult-line {
  font-size: calc(12px + 1vmin);
}

/* GlobalStats */
.App-content-global {
  margin-top: 20px;

}

.GlobalStats-root {
}

.GlobalStats-line {
  font-size: calc(12px + 1vmin);
}

/* Calculator */
.App-content-calculator {
  margin-top: 20px;
}

.App-content-calculator-textfield {
  margin-bottom: 30px;
  min-width: calc(10vw);
}

.Calculator-root {
}

.Calculator-line {
  font-size: calc(12px + 1vmin);
}